@media only screen and (max-width: 40em) {
	html {
		font-size: 90%;
	}

	.nicknames {
		font-size: 120%
	}
}
.nicknames {
	margin-top: 1rem;
	list-style: none;
}

.nicknames .nickname {
	font-weight: bold;
	font-size: 120%;
}

.nicknames .names {
	font-size: 0.9rem;
}

.nicknames .nickname-details {
	font-size: 0.9rem;
}

.nicknames li {
	margin-bottom: 0.4rem;
}

.nicknames .score::after {
	content: "%";
}