<div class="container">
  <h2>Find your matches!</h2>
  <div>
    <p>
      <label>Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="myName" required> 
    </p>
    </div>
    <div class="small-12 columns">
      <label>Pair with:</label> 
    <p>
       <input type="text" class="hidden" value="" id="selected-name" />
        <select ng-model="selectedGender" ng-change="updateGender(selectedGender)" class="selectpicker" style ="width: 220px"required>
        <option value="">---Please select---</option> <!-- not selected / blank option -->
        <option value="male">Female Names</option>
        <option value="female">Female Names</option>
        <option value="both">Both</option>
      </select>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="findMatches(name)">Find Couple Name</button>
      <!--<button style="margin-top:20px" class="btn btn-default" ng-click="back()">Clear</button> -->
    </p>
  </div>
</div>