div class="container">
  <div>
    <p>
      <label>Your Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="myName" required> 
    </p>
    <p>
      <label>Their Name (required)</label>
      <input id="name" class="form-control" type="text" ng-model="theirName" required>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveName(name)">Find Couple Name</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Clear</button>
    </p>
  </div>
</div>