<div class="row" ng-hide="name._id">
  <div class="col-md-6">
      <h2>Create new Names</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Name (required)</label> 
      <input id="name" class="form-control" type="text" ng-model="name.name" required> 
    </p>
    <p>
      <label>Syllables (seperate with '-' ex. Jen-ni-fer) </label> 
      <input id="name" class="form-control" type="text" ng-model="syllableString" required> 
    </p>
    <p>
    <select ng-model="name.gender" class="selectpicker" style ="width: 220px"required>
        <option value="">---Please select---</option> <!-- not selected / blank option -->
        <option value="male">Male Names</option>
        <option value="female">Female Names</option>
      </select>
    </p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveName(name)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>